{% extends 'layout.html' %}

{% block body %}
<div class=" shadow-lg text-center">
    <h3>Umut ŞİMŞEK Deneme Blogu</h3>
    <p>Bu blog Flask ile hazırlanmıştır.</p>
    <p class="text-center fw-lighter">Blog nedir? Ne işe yarar? Nasıl yazılır? Ne gibi özellikleri vardır? gibi tüm sorularınıza bu yazımda detaylı bir şekilde cevap bulabileceksiniz.
        İnternette birçok alanda blog kelimesini görmüşsünüzdür. Blog açmak bir zamanlar oldukça popülerdi ve internet siteleriyle uğraşan çoğu kişinin bir blogu vardı.
        Kişisel blog sahibi birçok kişi biliyorum. Çoğu şuanda aktif değil.
        Bu yazımda size blog nedir? başlığı altında ne işe yaradığını, nasıl blog yazılacağını, ne gibi özellikleri olduğunu tek tek aktaracağım.
        Bunun yanında blog örnekleri vererek konuyu çok daha iyi anlamanızı sağlayacağım. Üstelik blog yazarak para kazanmanızda mümkün.
        Yanlış duymadınız blog yazarak internetten para kazanabilirsiniz. Kişisel blog yazarlarının çoğu para kazanamadığı için blogunu kapattı.</p>

</div>

{% endblock body %}